@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Poppins:wght@200;400;900&display=swap');

:root {
  --background: #252525;
  --black: black;
  --white: #fff;
  --cyan: #00FFFF;
  --grey: #D1D1D1;

  color-scheme: light dark;
  color: white;
  background-color: var(--background);

  ::-webkit-scrollbar {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--cyan);
  }
}

:root,
button,
input,
textarea {
  font-family: "Jura", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button,
input[type="button"] {
  outline: none;
  background: transparent;

  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;

  box-sizing: border-box;
  transition: 0.5s;
}

nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  z-index: 10;
  display: flex;

  a {
    text-decoration: none;
    display: block;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  button,
  a {
    color: var(--white);
    background-color: rgba(128, 128, 128, 0.5);
    border: solid var(--cyan) 0px;
    outline: none;
    border-top-width: 1px;
    border-inline-width: 1px;


    font-size: 2rem;
    padding: 1rem 1.5rem;
    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: rgba(0, 255, 255, 0.3)
    }

    &:focus {
      box-shadow: inset 0 -3rem 3rem 0 rgba(0, 255, 255, 0.4);
    }

    &:active {
      color: var(--black);
      background-color: var(--white)
    }
  }
}

main {
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(40rem at var(--pos-x-1, 0) var(--pos-y-1, 0), rgb(0, 80, 80), transparent),
    radial-gradient(40rem at var(--pos-x-2, 75%) var(--pos-y-2, 75%), rgb(0, 80, 80), transparent);
}

#hero_name {
  font-size: 4rem;
  padding-inline: 1rem;

  background: radial-gradient(10rem at var(--radial-position, -5rem) 50%, cyan, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#welcome_section {
  z-index: 1;
  padding: 10rem 8rem;

  transition: 0.3s;

  animation: welcomeShow 0.3s forwards;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &.hide {
    animation: welcomeHide 0.3s forwards;
  }

  .horizontal_line {
    height: 10px;
    background-color: var(--cyan);
    border-radius: 10px;
    animation: pulseLine 5s infinite;
  }

  .hero_wrapper {
    width: 50rem;

    p {
      padding-inline: 1.5rem;
      line-height: 1.5;
      font-size: 1.5rem;
    }
  }

  .skills_wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 2rem;
    padding: 2rem;
    margin-inline: auto 0;

    svg {
      width: 5rem;
      transition: 0.3s;

      &:hover {
        filter: drop-shadow(0 0 10px rgb(255, 255, 255, 75%)) drop-shadow(0 0 15px rgb(255, 255, 255, 45%))
      }
    }

    .horizontal_line {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 5px;

      transition: 0.5s;
    }

    @for $i from 1 through 6 {
      svg:nth-of-type(#{$i}):hover~.horizontal_line {
        left: calc(($i - 1) * 7rem);
        right: calc((6 - $i) * 7rem);
      }
    }
  }
}

@keyframes welcomeShow {
  0% {
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes welcomeHide {
  0% {
    opacity: 1;
    transform: translate(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes pulse {

  from,
  to {
    box-shadow: 0 0 1.5rem var(--cyan),
      inset 0 0 1rem var(--cyan);
  }

  50% {
    box-shadow: none;
  }
}

@keyframes pulseLine {

  from,
  to {
    box-shadow: 0 0 1.5rem var(--cyan)
  }

  20% {
    box-shadow: 0 0 2rem var(--cyan)
  }

  40% {
    box-shadow: 0 0 1rem var(--cyan)
  }

  60% {
    box-shadow: 0 0 2rem var(--cyan)
  }

  80% {
    box-shadow: 0 0 1rem var(--cyan)
  }
}

#projects_section {
  position: relative;
  overflow: hidden;

  animation: projectsShow 0.5s forwards;
  transition: opacity 0.3s;

  &.hidden {
    animation: none !important;
  }
  
  &.hide {
    animation: projectsHide 0.3s forwards;
  }
}

@keyframes projectsShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes projectsHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.projects_wrapper {
  box-sizing: border-box;
  width: 125vw;
  height: 125vh;

  position: absolute;
  left: -12.5rem ;
  top: -12.5rem ;

  transform: translate(var(--view-left-position, 0%), var(--view-top-position, 0%));

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;

  .project_box {
    position: relative;
    &:hover {
      box-shadow: inset 0 0 3rem rgba(255, 255, 255, 0.4);
    }
    height: calc((125vh - 3rem) / 3);
    width: calc((125vw - 3rem) / 3);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

    a {
      position: absolute;
      &:nth-of-type(1) {
        inset: 0 50% 0 0;
      }
      &:nth-of-type(2) {
        inset: 0 0 0 50%;
      }

      opacity: 0;

      display: grid;
      place-items: center;

      font-size: 2rem;
      color: currentColor;

      text-decoration: none;

      

      &:hover {
        animation: gridLineIn 0.2s forwards;
        opacity: 1;
      }

      &:nth-of-type(1) {
        --deg: 90deg;
      }

      &:nth-of-type(2) {
        --deg: 270deg;
      }
    }

    &:nth-of-type(1) { --project-color: rgba(128, 0, 128, 0.5);}

    &:nth-of-type(2) { --project-color: rgba(128, 0, 128, 0.5);}

    &:nth-of-type(3) { --project-color: rgba(128, 128, 128, 0.5);}

    &:nth-of-type(4) { --project-color: rgba(0, 0, 255, 0.5);}

    &:nth-of-type(5) { --project-color: rgba(255, 166, 0, 0.5);}

    &:nth-of-type(6) { --project-color: rgb(0, 124, 181, 0.5);}

    &:nth-of-type(7) { --project-color: rgba(0, 128, 0, 0.501);}

    &:nth-of-type(8) { --project-color: rgb(0, 181, 181, 0.5);}

    &:nth-of-type(9) { --project-color: rgb(75, 0, 115, 0.5);}
  }
}

@keyframes gridLineIn {
  0% {
    background: linear-gradient(var(--deg), transparent 100%, 100%, var(--project-color))
  }

  5% {
    background: linear-gradient(var(--deg), transparent 95%, 95%, var(--project-color))
  }

  10% {
    background: linear-gradient(var(--deg), transparent 90%, 90%, var(--project-color))
  }

  15% {
    background: linear-gradient(var(--deg), transparent 85%, 85%, var(--project-color))
  }

  20% {
    background: linear-gradient(var(--deg), transparent 80%, 80%, var(--project-color))
  }

  25% {
    background: linear-gradient(var(--deg), transparent 75%, 75%, var(--project-color))
  }

  30% {
    background: linear-gradient(var(--deg), transparent 70%, 70%, var(--project-color));
    transform: scale(1);
  }

  35% {
    background: linear-gradient(var(--deg), transparent 65%, 65%, var(--project-color))
  }

  40% {
    background: linear-gradient(var(--deg), transparent 60%, 60%, var(--project-color))
  }

  45% {
    background: linear-gradient(var(--deg), transparent 55%, 55%, var(--project-color))
  }

  50% {
    background: linear-gradient(var(--deg), transparent 50%, 50%, var(--project-color))
  }

  55% {
    background: linear-gradient(var(--deg), transparent 45%, 45%, var(--project-color))
  }

  60% {
    background: linear-gradient(var(--deg), transparent 40%, 40%, var(--project-color))
  }

  65% {
    background: linear-gradient(var(--deg), transparent 35%, 35%, var(--project-color));
  }

  70% {
    background: linear-gradient(var(--deg), transparent 30%, 30%, var(--project-color))
  }

  75% {
    background: linear-gradient(var(--deg), transparent 25%, 25%, var(--project-color))
  }

  80% {
    background: linear-gradient(var(--deg), transparent 20%, 20%, var(--project-color))
  }

  85% {
    background: linear-gradient(var(--deg), transparent 15%, 15%, var(--project-color));
  }

  90% {
    background: linear-gradient(var(--deg), transparent 10%, 10%, var(--project-color))
  }

  95% {
    background: linear-gradient(var(--deg), transparent 5%, 5%, var(--project-color))
  }

  100% {
    background: linear-gradient(var(--deg), transparent 0%, 0%, var(--project-color));
    transform: scale(1.05);
    backdrop-filter: blur(3px);
  }
}

#contact_section {
  position: absolute;
  inset: 0;
  z-index: 10;


  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);

  padding: 2rem;

  &.hide {
    form {
      animation: formHide 0.3s forwards;
    }
  }

  form {
    position: relative;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    background-color: rgba(0, 102, 102, 0.5);
    border: 1px solid cyan;

    animation: formShowUp 0.3s forwards;


    textarea,
    #send_button,
    input[type="text"],
    input[type="email"] {
      font-size: 1.5rem;
      display: block;
      width: 100%;
      margin-block: 0.5rem;
      padding: 0.25rem;
      background-color: transparent;
      color: white;
      box-sizing: border-box;
      outline-color: cyan
    }

    #send_button {
      border: 3px solid cyan;
      position: relative;
      &.loading {
        display: grid;
        place-items: center;
        &:after {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border-top: 0.5rem solid var(--cyan);
  
          content: "";
          animation: movingPulse 5s infinite;
        }
      }

      &:hover {
        background-color: rgba(0, 255, 255, 0.3);
      }
      &:disabled:hover {
        background-color: transparent;
      }
    }

    textarea,
    input[type="text"],
    input[type="email"] {
      border-image: linear-gradient(to bottom, cyan, transparent) 1;
    }

    textarea {
      resize: vertical;

      min-height: 5rem;
      max-height: 7rem;
    }

    #textarea_label,
    #send_button {
      grid-column: 1 / 3;
    }

    #close_button {
      border: none;
      position: absolute;
      right: 1rem;
      top: 1rem;

      svg {
        transition: 0.3s;
      }

      &:hover svg {
        filter: drop-shadow(0 0 3px cyan)
      }
    }
  }
}

#controller_wrapper {
  position: absolute;
  bottom: 5rem;
  width: 10rem;
  height: 10rem;
  background-color: rgba(128, 128, 128, 0.2);

  border-radius: 50%;
  left: calc(50% - 5rem);

  #controller {
    pointer-events: none;

    position: absolute;
    left: 50%;
    top: 50%;

    width: 2rem;
    height: 2rem;

    background-color: cyan;
    border-radius: 50%;

    transform: translate(-50%, -50%)
  }
}

#loading {
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  position: absolute;
  padding: 3rem;
  border: 1px solid cyan;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: 1;
}

@keyframes loadingAnimation {
  from {

  }
  to {

  }
}

@keyframes movingPulse {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes formShowUp {
  from {
    width: 1px;
    height: 1px;
    padding: 0;
  }

  50% {
    width: 50rem;
    padding: 0 8rem;
    height: 1px;
  }

  to {
    width: 50rem;
    height: 20rem;
    padding: 4rem 8rem;
  }
}

@keyframes formHide {
  from {
    width: 50rem;
    height: 20rem;
    padding: 4rem 8rem;
  }

  50% {
    width: 50rem;
    padding: 0 8rem;
    height: 1px;
  }

  to {
    width: 1px;
    height: 1px;
    padding: 0;
  }
}


@media (max-height: 750px) {
  #welcome_section {
    padding: 25vh 8rem;
  }
}

@media (max-width: 1250px) {
  #hero_name {
    font-size: 3rem;
  }

  #welcome_section {
    .hero_wrapper {
      .horizontal_line {
        width: 60vw;
        height: min(1vh, 1vw);
      }

    }
  }

  #welcome_section .skills_wrapper {
    padding: 0.5rem 2rem;

    svg {
      width: 2.5rem;
    }
  }
}

@media (max-width: 1150px) {
  #contact_section form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 960px) {
  :root {
    font-size: clamp(12px, 1.5vw, 16px);
  }
}

@media (max-width: 800px) {
  #welcome_section {
    padding: 8rem 1rem;
  }
}

@media (max-width: 600px) {
  #hero_name {
    font-size: 2rem;
  }

  #projects_section {
    overflow: scroll;
  }

  .projects_wrapper {
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 2rem 6rem;

    .project_box {
      transition: 0.5s;
      width: 90%;
      aspect-ratio: 16 / 9;

      display: flex;
      align-items: end;
      gap: 0.1rem;

      a {
        opacity: 1;
        height: 30%;
        background-color: var(--project-color);

        &:hover {
          animation: none;
        }
      }
    }
  }

  @keyframes formShowUp {
    from {
      width: 1px;
      height: 1px;
      padding: 0;
    }

    50% {
      width: 50rem;
      padding-inline: 1rem;
      padding-block: 0;
      height: 1px;
    }

    to {
      width: 50rem;
      height: 25rem;
      padding-inline: 1rem;
      padding-block: 5rem 1rem;
    }
  }

  @keyframes formHide {
    from {
      width: 50rem;
      height: 20rem;
      padding: 4rem 8rem;
    }

    50% {
      width: 50rem;
      padding: 0 8rem;
      height: 1px;
    }

    to {
      width: 1px;
      height: 1px;
      padding: 0;
    }
  }
}