@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Poppins:wght@200;400;900&display=swap');

:root {
  --background: #252525;
  --black: black;
  --white: #fff;
  --cyan: #00FFFF;
  --grey: #D1D1D1;

  color-scheme: light dark;
  color: white;
  background-color: var(--background);
}

:root,
button,
input,
textarea {
  font-family: "Jura", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100%;
}

nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  z-index: 10;

  button {
    color: var(--white);
    background-color: transparent;
    border: solid var(--cyan) 0px;
    outline: none;
    border-top-width: 1px;
    border-inline-width: 1px;

    
    font-size: 2rem;
    width: 15rem;
    padding-block: 1rem;
    text-align: center;
    
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 255, 255, 0.3)
    }
    &:focus {
      box-shadow: inset 0 -3rem 3rem 0 rgba(0, 255, 255, 0.4);
    }
    &:active {
      color: var(--black);
      background-color: var(--white)
    }
  }
}

main {
  background: radial-gradient(40rem at var(--pos-x-1, 0) var(--pos-y-1, 0), rgb(0, 68, 68), transparent),
              radial-gradient(40rem at var(--pos-x-2, 75%) var(--pos-y-2, 75%), rgb(0, 68, 68), transparent);
}

#welcome_section {
  padding: 10rem 8rem;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transform-style: preserve-3d;

    .horizontal_line {
      height: 10px;
      background-color: var(--cyan);
      border-radius: 10px;
      animation: pulseLine 5s infinite;
    }

    .hero_wrapper {
      width: 50rem;

      h1 {
        font-size: 4rem;
        padding-inline: 1rem;
      }

      p {
        padding-inline: 1.5rem;
        line-height: 1.5;
        font-size: 1.5rem;
      }
    }

    .skills_wrapper {
      position: relative;

      display: flex;
      justify-content: center;
      width: fit-content;
      gap: 2rem;
      padding: 2rem;
      margin-inline: auto 0;
      svg {
        width: 5rem;
        transition: 0.3s;
        &:hover {
          filter: drop-shadow(0 0 10px rgb(255, 255, 255, 75%)) drop-shadow(0 0 15px rgb(255, 255, 255, 45%))
        }
      }
      .horizontal_line {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 5px;

        transition: 0.5s;
      }
      @for $i from 1 through 6 {
        svg:nth-of-type(#{$i}):hover ~ .horizontal_line {
          left: calc(($i - 1) * 7rem);
          right: calc((6 - $i) * 7rem);
        }
      }
    }
  }
}

@keyframes pulse {
  from,
  to {
    box-shadow: 0 0 1.5rem var(--cyan),
      inset 0 0 1rem var(--cyan);
  }

  50% {
    box-shadow: none;
  }
}

@keyframes pulseLine {
  from,to {box-shadow: 0 0 1.5rem var(--cyan)}
  20% {box-shadow: 0 0 2rem var(--cyan)}
  40% {box-shadow: 0 0 1rem var(--cyan)}
  60% {box-shadow: 0 0 2rem var(--cyan)}
  80% {box-shadow: 0 0 1rem var(--cyan)}
}

#projects_section {
  position: relative;
  overflow: hidden;
}

.projects_wrapper {
  width: 150vw;
    height: 150vh;

    position: absolute;
    left: -25vw;
    top: -25vh;

    transform: translate(var(--view-left-position, 0%), var(--view-top-position, 0%));

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  div {
    display: flex;
    a {
      display: grid;
      place-items: center;

      text-decoration: none;

      flex: 1 1 auto;
      &:hover {
        animation: gridLineIn 0.2s forwards;
      }
      &:nth-of-type(1) {
        --deg: 90deg;
      }
      &:nth-of-type(2) {
        --deg: 270deg;
      }
    }
    &:nth-of-type(1) {
      --project-color: grey;
      background-image: url(./artopia.png); background-size: cover;}
    &:nth-of-type(2) {
      --project-color: grey;
      background-image: url(./commerce.png); background-size: cover;}
    &:nth-of-type(3) {
      --project-color: grey;
      background-image: url(./financial.png); background-size: cover;}
    &:nth-of-type(4) {
      --project-color: grey;
      background-image: url(./furniture_advanced.png); background-size: cover;}
    &:nth-of-type(5) {
      --project-color: grey;
      background-image: url(./inter_card.png); background-size: cover;}
    &:nth-of-type(6) {
      --project-color: grey;
      background-image: url(./multistep_form.png); background-size: cover;}
    &:nth-of-type(7) {
      --project-color: grey;
      background-image: url(./space_tourism.png); background-size: cover;}
    &:nth-of-type(8) {
      --project-color: grey;
      background-image: url(./url_shortener.png); background-size: cover;}
    &:nth-of-type(9) {
      --project-color: grey;
      background-image: url(./artopia.png); background-size: cover;}
  }
}

@keyframes gridLineIn {
  0% { background: linear-gradient(var(--deg), transparent, 100%,  var(--project-color)) }
  10% { background: linear-gradient(var(--deg), transparent, 90%,  var(--project-color)) }
  20% { background: linear-gradient(var(--deg), transparent, 80%,  var(--project-color)) }
  30% { background: linear-gradient(var(--deg), transparent, 70%,  var(--project-color)) }
  40% { background: linear-gradient(var(--deg), transparent, 60%,  var(--project-color)) }
  50% { background: linear-gradient(var(--deg), transparent, 50%,  var(--project-color)) }
  60% { background: linear-gradient(var(--deg), transparent, 40%,  var(--project-color)) }
  70% { background: linear-gradient(var(--deg), transparent, 30%,  var(--project-color)) }
  80% { background: linear-gradient(var(--deg), transparent, 20%,  var(--project-color)) }
  90% { background: linear-gradient(var(--deg), transparent, 10%,  var(--project-color)) }
  100% { background: linear-gradient(var(--deg), transparent, 0%,  var(--project-color)) }
}