@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Poppins:wght@200;400;900&display=swap');

:root {
  --background: #252525;
  --black: black;
  --white: #fff;
  --cyan: #00FFFF;
  --grey: #D1D1D1;

  color-scheme: light dark;
  color: white;
  background-color: var(--background);
}

:root,
button,
input,
textarea {
  font-family: "Jura", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

section {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
}

main {
  transform-style: preserve-3d;
}

#welcome_section {
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.2);

  padding: 10rem 8rem;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transform-style: preserve-3d;

    .horizontal_line {
      height: 10px;
      background-color: var(--cyan);
      border-radius: 10px;
      animation: pulseLine 5s infinite;
    }

    .hero_wrapper {
      width: 50rem;

      h1 {
        font-size: 4rem;
        padding-inline: 1rem;
      }

      p {
        padding-inline: 1.5rem;
        line-height: 1.5;
        font-size: 1.5rem;
      }
    }

    .skills_wrapper {
      position: relative;

      display: flex;
      justify-content: center;
      width: fit-content;
      gap: 2rem;
      padding: 2rem;
      margin-inline: auto 0;
      svg {
        width: 5rem;
        &:hover {
          animation: glowIcons 2s infinite;
        }
      }
      .horizontal_line {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 5px;

        transition: 0.5s;
      }
      @for $i from 1 through 6 {
        svg:nth-of-type(#{$i}):hover ~ .horizontal_line {
          left: calc(($i - 1) * 7rem);
          right: calc((6 - $i) * 7rem);
        }
      }
    }

    button {
      padding: 0.5rem 1rem;
      width: fit-content;
      align-self: center;
      font-size: 2rem;

      background-color: transparent;
      border-radius: 0.5rem;
      border: 1px solid var(--cyan);

      color: var(--cyan);

      cursor: pointer;

      animation: pulse 0.5s infinite;

      &:hover {
        background-color: rgba(0, 255, 255, 0.2);
      }
    }
  }
}

@keyframes glowIcons {
  from,
  to {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

@keyframes pulse {
  from,
  to {
    box-shadow: 0 0 1.5rem var(--cyan),
      inset 0 0 1rem var(--cyan);
  }

  50% {
    box-shadow: none;
  }
}

@keyframes pulseLine {
  from,to {box-shadow: 0 0 1.5rem var(--cyan)}
  20% {box-shadow: 0 0 2rem var(--cyan)}
  40% {box-shadow: 0 0 1rem var(--cyan)}
  60% {box-shadow: 0 0 2rem var(--cyan)}
  80% {box-shadow: 0 0 1rem var(--cyan)}
}